USE [master]
GO
/****** Object:  Database [AUTOPOSTO]    Script Date: 08/06/2018 22:03:07 ******/
CREATE DATABASE [AUTOPOSTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AUTOPOSTO', FILENAME = N'C:\Dados\AUTOPOSTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AUTOPOSTO_log', FILENAME = N'C:\Dados\AUTOPOSTO_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AUTOPOSTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AUTOPOSTO]
GO
USE [AUTOPOSTO]
GO
/****** Object:  Table [dbo].[CIDADE]    Script Date: 08/06/2018 22:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADE](
	[id_cidade] [int] NOT NULL,
	[id_estado] [int] NULL,
	[nome] [varchar](120) NULL,
 CONSTRAINT [PK__CIDADE__3214EC278E36C7A0] PRIMARY KEY CLUSTERED 
(
	[id_cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_sexo] [tinyint] NOT NULL,
	[id_cidade] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[sobrenome] [varchar](100) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[rg] [varchar](12) NOT NULL,
	[dt_nascimento] [datetime] NOT NULL,
	[cnpj] [varchar](16) NULL,
	[logradouro] [varchar](100) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[complemento] [varchar](50) NULL,
	[cep] [varchar](10) NOT NULL,
	[telefone_res] [varchar](50) NULL,
	[telefone_cel] [varchar](50) NULL,
	[telefone_3] [varchar](50) NULL,
	[telefone_4] [varchar](100) NULL,
	[email_p] [varchar](100) NOT NULL,
	[email_s] [varchar](100) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[id_estado] [int] NOT NULL,
	[nome] [varchar](75) NULL,
	[uf] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CIVIL]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIVIL](
	[id_estado_civil] [tinyint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADO_CIVIL] PRIMARY KEY CLUSTERED 
(
	[id_estado_civil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECEDOR]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[id_fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[id_cidade] [int] NOT NULL,
	[fantasia] [varchar](100) NOT NULL,
	[razao_social] [varchar](100) NOT NULL,
	[cnpj] [varchar](20) NOT NULL,
	[inscricao_estadual] [varchar](20) NULL,
	[logradouro] [varchar](100) NOT NULL,
	[complemento] [varchar](50) NULL,
	[bairro] [varchar](50) NOT NULL,
	[cep] [varchar](10) NOT NULL,
	[telefone_com] [varchar](50) NOT NULL,
	[telefone_cel] [varchar](50) NOT NULL,
	[telefone_fax] [varchar](50) NULL,
	[telefone_whats] [varchar](50) NOT NULL,
	[email_p] [varchar](100) NOT NULL,
	[email_s] [varchar](100) NULL,
 CONSTRAINT [PK_FORNECEDOR] PRIMARY KEY CLUSTERED 
(
	[id_fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[id_sexo] [tinyint] NULL,
	[id_estado_civil] [tinyint] NULL,
	[id_cidade] [int] NULL,
	[nome] [varchar](100) NOT NULL,
	[sobrenome] [varchar](100) NOT NULL,
	[nacionalidade] [varchar](50) NULL,
	[naturalidade] [varchar](50) NULL,
	[cpf] [varchar](14) NULL,
	[rg] [varchar](12) NULL,
	[dt_nascimento] [datetime] NOT NULL,
	[logradouro] [varchar](100) NOT NULL,
	[complemento] [varchar](50) NULL,
	[bairro] [varchar](50) NOT NULL,
	[cep] [varchar](10) NOT NULL,
	[telefone_res] [varchar](50) NULL,
	[telefone_cel] [varchar](50) NOT NULL,
	[telefone_whats] [varchar](50) NULL,
	[telefone_3] [varchar](50) NULL,
	[email_p] [varchar](100) NOT NULL,
	[email_s] [varchar](100) NULL,
	[salario] [decimal](18, 2) NULL,
 CONSTRAINT [PK_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NULL,
	[SIGLA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[id_fornecedor] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[dt_cadastro] [datetime] NOT NULL,
	[codigo_barra] [varchar](100) NOT NULL,
	[preco_custo] [decimal](10, 2) NOT NULL,
	[preco_venda] [decimal](10, 2) NOT NULL,
	[quantidade] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXO]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXO](
	[id_sexo] [tinyint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SEXO] PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_funcionario] [int] NOT NULL,
	[nome] [varchar](30) NOT NULL,
	[senha] [varchar](12) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[id_venda] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[hora] [datetime] NOT NULL,
 CONSTRAINT [PK_VENDA] PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA_ITEM]    Script Date: 08/06/2018 22:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA_ITEM](
	[id_venda_item] [int] IDENTITY(1,1) NOT NULL,
	[id_venda] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[quantidade] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VENDA_ITEM] PRIMARY KEY CLUSTERED 
(
	[id_venda_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CIDADE] ([id_cidade], [id_estado], [nome]) VALUES (1, 8, N'Afonso Cláudio')
INSERT [dbo].[CIDADE] ([id_cidade], [id_estado], [nome]) VALUES (2, 8, N'Água Doce do Norte')
INSERT [dbo].[CIDADE] ([id_cidade], [id_estado], [nome]) VALUES (3, 8, N'Águia Branca')
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([id_cliente], [id_sexo], [id_cidade], [nome], [sobrenome], [cpf], [rg], [dt_nascimento], [cnpj], [logradouro], [bairro], [complemento], [cep], [telefone_res], [telefone_cel], [telefone_3], [telefone_4], [email_p], [email_s]) VALUES (1, 1, 3, N'Clovis', N'ld', N'465.464.646-54', N'46.546.546-5', CAST(N'2000-02-02T00:00:00.000' AS DateTime), N'  .   .   /    -', N'0', N'dhfjk', N'hjkhkjh', N'45454-654', N'(65) 4654-6546', N'(46) 5464-6546', N'(45) 4656-4546', N'(46) 5465-4654', N'ljabhk', N'gsjdajag')
INSERT [dbo].[CLIENTE] ([id_cliente], [id_sexo], [id_cidade], [nome], [sobrenome], [cpf], [rg], [dt_nascimento], [cnpj], [logradouro], [bairro], [complemento], [cep], [telefone_res], [telefone_cel], [telefone_3], [telefone_4], [email_p], [email_s]) VALUES (5, 2, 2, N'sdvdsafg', N'dgfs', N'523.452.345-32', N'52.345.243-5', CAST(N'2018-07-06T00:00:00.000' AS DateTime), N'  .   .   /    -', N'Principal', N'dssavbgrtvrt', N'tgtvgtvgtv', N'24354-325', N'(23) 4532-4532', N'(23) 4542-3535', N'(23) 4523-4524', N'(43) 5354-3543', N'xcvrgbvt', N'gtgvgtvvgtvgtvg')
INSERT [dbo].[CLIENTE] ([id_cliente], [id_sexo], [id_cidade], [nome], [sobrenome], [cpf], [rg], [dt_nascimento], [cnpj], [logradouro], [bairro], [complemento], [cep], [telefone_res], [telefone_cel], [telefone_3], [telefone_4], [email_p], [email_s]) VALUES (7, 2, 3, N'tfyugvuvg', N'iugfuijkbhhjkhjkvj', N'654.165.146-51', N'16.541.312-3', CAST(N'2018-06-01T00:00:00.000' AS DateTime), N'  .   .   /    -', N'Principal', N'gvgfyitfvgv', N'vyuvgvkjhvjbvj', N'54646-513', N'(65) 4645-1614', N'(46) 5456-4645', N'(65) 4654-6546', N'(65) 4654-6465', N'4564hiuhiuhiguy', N'')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
INSERT [dbo].[ESTADO] ([id_estado], [nome], [uf]) VALUES (1, N'Acre', N'AC')
INSERT [dbo].[ESTADO] ([id_estado], [nome], [uf]) VALUES (2, N'Alagoas', N'AL')
INSERT [dbo].[ESTADO] ([id_estado], [nome], [uf]) VALUES (3, N'Amazonas', N'AM')
SET IDENTITY_INSERT [dbo].[ESTADO_CIVIL] ON 

INSERT [dbo].[ESTADO_CIVIL] ([id_estado_civil], [nome]) VALUES (1, N'SOLTEIRO(a)')
INSERT [dbo].[ESTADO_CIVIL] ([id_estado_civil], [nome]) VALUES (2, N'CASADO(a)')
INSERT [dbo].[ESTADO_CIVIL] ([id_estado_civil], [nome]) VALUES (3, N'SEPARADO(a)')
SET IDENTITY_INSERT [dbo].[ESTADO_CIVIL] OFF
SET IDENTITY_INSERT [dbo].[FORNECEDOR] ON 

INSERT [dbo].[FORNECEDOR] ([id_fornecedor], [id_cidade], [fantasia], [razao_social], [cnpj], [inscricao_estadual], [logradouro], [complemento], [bairro], [cep], [telefone_com], [telefone_cel], [telefone_fax], [telefone_whats], [email_p], [email_s]) VALUES (1, 4436, N'fyjfgh', N'fghjfgh', N'13.241.243/2143-24', N'sdfgsdfgsfdg', N'1sdgsdfgsfd', N'sdfgsdfgsfdgsfdg', N'sdfgsdfgsds', N'13241-434', N'(14) 3131-2412', N'(12) 4214-2114', N'(12) 4312-4141', N'(14) 3214-3214', N'f', N'dfg')
INSERT [dbo].[FORNECEDOR] ([id_fornecedor], [id_cidade], [fantasia], [razao_social], [cnpj], [inscricao_estadual], [logradouro], [complemento], [bairro], [cep], [telefone_com], [telefone_cel], [telefone_fax], [telefone_whats], [email_p], [email_s]) VALUES (2, 4436, N'adsfasdf', N'asdfsdaf', N'23.421.243/1243-12', N'asdfasdf', N'asdfasd', N'asdfsdaf', N'asdfsdaf', N'12431-243', N'(14) 3112-4312', N'(12) 4312-4312', N'(12) 4312-1243', N'(12) 4321-4312', N'', N'')
INSERT [dbo].[FORNECEDOR] ([id_fornecedor], [id_cidade], [fantasia], [razao_social], [cnpj], [inscricao_estadual], [logradouro], [complemento], [bairro], [cep], [telefone_com], [telefone_cel], [telefone_fax], [telefone_whats], [email_p], [email_s]) VALUES (3, 4436, N'adsfasdf', N'asdfsdaf', N'23.421.243/1243-12', N'asdfasdf', N'asdfasd', N'asdfsdaf', N'asdfsdaf', N'12431-243', N'(14) 3112-4312', N'(12) 4312-4312', N'(12) 4312-1243', N'(12) 4321-4312', N'', N'')
SET IDENTITY_INSERT [dbo].[FORNECEDOR] OFF
SET IDENTITY_INSERT [dbo].[FUNCIONARIO] ON 

SET IDENTITY_INSERT [dbo].[FUNCIONARIO] OFF
SET IDENTITY_INSERT [dbo].[PAIS] ON 

INSERT [dbo].[PAIS] ([ID], [NOME], [SIGLA]) VALUES (1, N'Brasil', N'BR')
SET IDENTITY_INSERT [dbo].[PAIS] OFF
SET IDENTITY_INSERT [dbo].[SEXO] ON 

INSERT [dbo].[SEXO] ([id_sexo], [nome]) VALUES (1, N'MASCULINO')
INSERT [dbo].[SEXO] ([id_sexo], [nome]) VALUES (2, N'FEMININO')
INSERT [dbo].[SEXO] ([id_sexo], [nome]) VALUES (3, N'NÃO OPINAR')
SET IDENTITY_INSERT [dbo].[SEXO] OFF
ALTER TABLE [dbo].[CIDADE] ADD  CONSTRAINT [DF__CIDADE__ESTADO__4316F928]  DEFAULT (NULL) FOR [id_estado]
GO
ALTER TABLE [dbo].[CIDADE] ADD  CONSTRAINT [DF__CIDADE__NOME__4222D4EF]  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[CIDADE]  WITH CHECK ADD  CONSTRAINT [FK_CIDADE_ESTADO] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO] ([id_estado])
GO
ALTER TABLE [dbo].[CIDADE] CHECK CONSTRAINT [FK_CIDADE_ESTADO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_CIDADE] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[CIDADE] ([id_cidade])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_CIDADE]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_SEXO] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[SEXO] ([id_sexo])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_SEXO]
GO
ALTER TABLE [dbo].[FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_FORNECEDOR_CIDADE] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[CIDADE] ([id_cidade])
GO
ALTER TABLE [dbo].[FORNECEDOR] CHECK CONSTRAINT [FK_FORNECEDOR_CIDADE]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_CIDADE] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[CIDADE] ([id_cidade])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_CIDADE]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_ESTADO_CIVIL] FOREIGN KEY([id_estado_civil])
REFERENCES [dbo].[ESTADO_CIVIL] ([id_estado_civil])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_ESTADO_CIVIL]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_SEXO] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[SEXO] ([id_sexo])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_SEXO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_FORNECEDOR] FOREIGN KEY([id_fornecedor])
REFERENCES [dbo].[FORNECEDOR] ([id_fornecedor])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_FORNECEDOR]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_MARCA] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_MARCA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_FUNCIONARIO] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[FUNCIONARIO] ([id_funcionario])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_FUNCIONARIO]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_CLIENTE]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_USUARIO]
GO
ALTER TABLE [dbo].[VENDA_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_ITEM_PRODUTO] FOREIGN KEY([id_produto])
REFERENCES [dbo].[PRODUTO] ([id_produto])
GO
ALTER TABLE [dbo].[VENDA_ITEM] CHECK CONSTRAINT [FK_VENDA_ITEM_PRODUTO]
GO
ALTER TABLE [dbo].[VENDA_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_ITEM_VENDA] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[VENDA_ITEM] CHECK CONSTRAINT [FK_VENDA_ITEM_VENDA]
GO
USE [master]
GO
