ProjetoAutoPosto/.vs/ProjetoAutoPosto/DesignTimeBuild/.dtbcache
ProjetoAutoPosto/.vs/ProjetoAutoPosto/v15/.suo
ProjetoAutoPosto/.vs/ProjetoAutoPosto/v15/Server/sqlite3/storage.ide-shm
ProjetoAutoPosto/.vs/ProjetoAutoPosto/v15/Server/sqlite3/storage.ide-wal
ProjetoAutoPosto/ProjetoAutoPosto/obj/Debug/ProjetoAutoPosto.csproj.CoreCompileInputs.cache
ProjetoAutoPosto/ProjetoAutoPosto/obj/Debug/ProjetoAutoPosto.csprojAssemblyReference.cache

